<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something Went wrong || ToDo-Tasks</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="errorCon">
        <h1>Something Went Wrong!!!</h1>
        <h6 style="font-size: 1.2rem;" id="errorMsg">
            <%= error%>
        </h6>
        <button id="goBackBtn"><a href="/tasks">Go back to Home</a></button>
    </div>
</body>

</html>